#img-div {
    width: 1000px;
   background-color: #777B7E;
   border-radius: 5%;
   border-color: transparent;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   position: relative;
   max-width: 100%;
   max-height: 10%;
   margin: 0 auto;
   text-align: center;
 }
 
 #main {
   background-color: #BDB7AB;
   text-align: center;
   color: black;
   font-size: 20px;
   font-family: Nunito;
 }
 
 #image {
   padding-top:30px;
   position: relative;
   width: 100%;
   height: auto;
   max-width: 999px;
   display: block;
   }
   
   #img-caption {
     padding-bottom: 10px;
   }
   
   #tribute-info {
    border-style: solid;
    border-radius: 0% 0% 5% 5%;
   border-color: transparent;
   box-shadow: 0.5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   }
   
   ul {
     padding-top: 30px;
     margin: 0 auto;
   }
   
 li {
   margin-left: 15%;
   margin-right: 15%;
 }
 
 em {
   padding-top: 5px;
   margin-left: 15%;
   margin-right: 15%;
 }
 
 p {
   padding-bottom: 30px;
 }
